In [1]:
url = "https://www.afm-telethon.fr/telethon/bref/parrains-resultats-telethon-1379"

In [4]:
import requests as req
from bs4 import BeautifulSoup

## 1. faire une requete http GET sur l'url

In [16]:
reponse = req.get(url)

In [17]:
reponse.status_code, reponse.ok # la réponse est OK

(200, True)

## 2. regarder le contenu de la réponse

In [19]:
html = reponse.content

In [22]:
soup = BeautifulSoup(html, "html.parser")

In [28]:
# soup.prettify() # affichage plus sympathique

## 3. exemple1, récupérer tous les liens de la page

### Using CSS Selectors
You can also search for items using CSS selectors. These selectors are how the CSS language allows developers to specify HTML tags to style. 
Here are some examples:
* p a — finds all a tags inside of a p tag.
* body p a — finds all a tags inside of a p tag inside of a body tag.
* html body — finds all body tags inside of an html tag.
* p.outer-text — finds all p tags with a class of outer-text.
* p#first — finds all p tags with an id of first.
* body p.outer-text — finds any p tags with a class of outer-text inside of a body tag.

In [29]:
soup.select("div.field-item p")

[<p>Le compteur du Téléthon est à l’image de la mobilisation de tous. Il cumule les promesses de don par téléphone au 36 37, par internet sur <a href="http://www.telethon.fr/" style="line-height: 1.538em;">www.telethon.fr</a>, la collecte dans les animations locales et les dons des partenaires.</p>,
 <p>Retrouvez ci-dessous la liste des parrains du Téléthon depuis 1987 :</p>,
 <p>Montant collecté</p>,
 <p>  </p>]

In [33]:
output = soup.select("tr td")

In [34]:
type(output)

list

In [38]:
for element in output:
    print(type(element))
    break

<class 'bs4.element.Tag'>

In [39]:
type(output[0])

bs4.element.Tag

In [40]:
premier_element = output[0]

In [43]:
premier_element.get_text()

'Année'

### une liste compréhension

In [56]:
annees = [  element.get_text() for element in output[3::3]  ]
celebrites = [  element.get_text() for element in output[4::3]  ]
montants = [  element.get_text() for element in output[5::3]  ]

## création d'une dataframe

In [60]:
import pandas as pd

In [63]:
df = pd.DataFrame( {
    "An": annees,
    "celebrites": celebrites,
    "montants": montants
})

In [65]:
df.head()

     An                                      celebrites      montants
0  1987                                     Jerry LEWIS  29 650 000 €
1  1988                                Mireille MATHIEU  28 490 000 €
2  1989                                     Alain DELON  40 930 000 €
3  1990                               Claudia CARDINALE  46 510 000 €
4  1991  Jerry LEWIS, Mireille MATHIEU et Ornella MUTTI  38 650 000 €

In [66]:
df.dtypes

An            object
celebrites    object
montants      object
dtype: object

## regex

In [74]:
df['montants'] = df.montants.str.replace(r'\D+', '').astype(int)

In [95]:
!pip install regex

Requirement already satisfied: regex in /Users/lucbertin/anaconda3/lib/python3.6/site-packages (2018.11.7)
WARNING: You are using pip version 19.3.1; however, version 20.0.2 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [75]:
import regex as re

In [93]:
pattern = re.compile(r'(?i)(\d{2}\s(m|l|v))')

In [94]:
re.findall(pattern=pattern, string="JE m'appelle Luc voici mon numéro de téléphone 066667 merci")

[('67 m', 'm')]

# les dates

In [97]:
df.An = df.An.astype(int)

In [98]:
df.dtypes

An             int64
celebrites    object
montants       int64
dtype: object

# Visualization

In [101]:
import matplotlib.pyplot as plt
#import seaborn as sns

In [102]:
df

      An                                      celebrites   montants
0   1987                                     Jerry LEWIS   29650000
1   1988                                Mireille MATHIEU   28490000
2   1989                                     Alain DELON   40930000
3   1990                               Claudia CARDINALE   46510000
4   1991  Jerry LEWIS, Mireille MATHIEU et Ornella MUTTI   38650000
5   1992                               Barbara HENDRICKS   47870000
6   1993                                   Michel SARDOU   55600000
7   1994                                   Pierre PERRET   57520000
8   1995                                      Serge LAMA   56763000
9   1996                               Thierry LHERMITTE   56872000
10  1997                                  Robert HOSSEIN   63043286
11  1998                                Michel BOUJENAH    70449000
12  1999                                  Pierre PERRET    71417798
13  2000                              Patrick SEBASTIEN    79640119
14  2001                                    Jane BIRKIN    81188013
15  2002                                     Axelle RED    91546548
16  2003                              Sandrine KIBERLAIN   97657833
17  2004                                  Gérard JUGNOT   104678697
18  2005                                   Yannick NOAH   104078464
19  2006              Gérard JUGNOT et Thierry LHERMITTE  106696532
20  2007                        Kad MERAD et Liane FOLY   102315233
21  2008                                   Julien CLERC   104911383
22  2009                                 Daniel AUTEUIL    95200117
23  2010                                Anne ROUMANNOFF    90450486
24  2011                                    Gad ELMALEH    94091902
25  2012                                  Franck DUBOSC    88156400
26  2013                                   Patrick Bruel   89327268
27  2014                                           Garou   92920108
28  2015                                    Marc Lavoine   93850778
29  2016                                           Garou   92740769
30  2017                                           Zazie   89189384
31  2018                                   Pascal Obispo   85844117